.container2{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.imagemHome img{
    margin-top: 300px;
    margin-bottom: 100px;
}
@media screen and (max-width:1018px) {
    .imagemHome img{
        width: 80%;
    }
}