.container5 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .projetos {
    color: black;
    font-size: 35px;
    display: flex;
  }
  
  .divProjetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .projetosRealizados {
    display: flex;
    background-color: #3d5e33;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 30%;
    margin-bottom: 5px;
  }
  
  .descricaoProjeto {
    
    max-width: 70%;
    display: flex;
    justify-content: center;
    height: 400px;
    margin-bottom: 50px;
    flex-direction: column;
    border: dashed  rgb(36, 192, 36);
    padding: 10px;
  }
  
  .descricaoProjeto span {
    color: black;
  }
  .obj {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 23px;
  }
  
  .nomeProjeto {
    color: white;
    font-size: 22px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .listaProjetos {
    display: grid;
    margin-left: 50px;
  }
  
  .listaProjetos li {
    line-height: 1.5;
    list-style: disc;
    font-size: 20px;
  }
  
  .tituloProjeto{
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
  }