@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.container5 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .projetos {
    color: black;
    font-size: 35px;
    display: flex;
  }
  
  .divProjetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .projetosRealizados {
    display: flex;
    background-color: #1f4d2e;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 30%;
    margin-bottom: 5px;
  }
  
  .descricaoProjeto {
    
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-direction: column;
    max-width: 60%;
    height: 640px;
    background: #f5fcee;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
  }
  
  .descricaoProjeto span {
    color: #2d8334;
    margin-right: 20px;
  }
  .obj {
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 23px;
  }
  
  .nomeProjeto {
    color: white;
    font-size: 22px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Playfair Display', serif;
    text-align: center;
  }
  
  .listaProjetos {
    display: grid;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .listaProjetos li {
    line-height: 1.5;
    list-style: disc;
    font-size: 20px;
  }
  
  .tituloProjeto{
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
  }


  .imagemGotaDagua {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
  }
  
  .Img-maos-agua {
    width: 180px;
    margin-top: 50px;
  }


  /*responsividade */

  @media screen and (max-width: 1043px) {
    .descricaoProjeto {
      height: auto;
    }
  
  }

  @media screen and (max-width:720px) {
    .projetosRealizados{
      height: auto;
      padding-bottom:7px;
      width: 45%;
    }
  
    .obj{
       padding: 20px;
    }
    .descricaoProjeto span{
      text-align: center;
    }
  }


  @media screen and (max-width:520px) {
    .obj{
     font-size: 18px;
    
    }
    .listaProjetos li {
      font-size: 18px;
    }
    .descricaoProjeto{
      max-width: 80%;
    }
    .projetosRealizados{
      width: 50%;
    }
    .nomeProjeto{
      font-size: 18px;
      padding: 5px;
    }
  }

  