.containerContatos{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textoConPrincipal{
    color: rgb(1, 1, 155);
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.caixaContatos{
    width: 50%;
    height: 200px;
    background-color: rgb(166, 255, 166);
    margin-bottom: 20px;
    
}

.textoCaixaContatos h1{
    font-size: 25px;
    margin-top: 20px;
    font-weight: bolder;
}

.textoCaixaContatos p{
    font-size: 20px;
}

.textoConheca{
    font-size:30px;
    text-align: center;
}

.redesSociaisCon{
    font-size: 20px;
    
}

.iconeContatos{
    width: 50px;
}