.containerVol{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textoVolPrincipal h1{
    color: rgb(1, 1, 155);
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    margin-bottom: 30px;
    text-align: center;
    
}

.textoVolPrincipal p{
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;

}
.caixaVolExplicacao{
    margin-left: 5%;
    margin-bottom: 20px;
    display: inline-flex;
}

.VoluntarioIcons{
    width: 35px;
    align-items: center;
    margin-left: 35%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.caixaVolExplicacao h1{
    padding-right: 60px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.caixaVolExplicacao p{
    padding-right: 60px;
    text-align: center;
    font-size: 18px;
}


@media screen and (max-width:360){

}