.containerVol{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textoVolPrincipal h1{
    color: rgb(1, 1, 155);
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.textoVolPrincipal p{
    font-size: 25px;
    text-align: center;
    margin-bottom: 80px;

}

.volIcones{
    width: 40px;
    display: flex;
    margin-left: 49%;
    margin-bottom: 20px;
}



.volExplicacao{
    background-color: white;
}


.volExplicacao h1{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-left: 25px;

}

.volExplicacao p{
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 50px;
}


.imagemVegetacao{
    width: 100%;
    margin-bottom: 50px;
}

.textoVolFormulario{
    font-size: 25px;
}

.volFormulario{
    background-color: rgb(235, 235, 235);
    width: 80%;
    height: 450px;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.tituloFormulario{
    display: flex;
    margin-top: 20px;
    color: black;
}

.valorInput{
    width: 30%;
    height: 20px;
    margin-left: 20px;
}

.descricaoFormulario{
    width: 30%;
    height: 60px;
    margin-left: 20px;
    border-radius: 10px;

}

.botaoFormulario{
    width: 30px;
}
@media screen and (max-width:1071px){
    .volExplicacao{
        width: 320px;
    }
    .volExplicacao{
        width: 380px;
    }
    
}