@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
html {
    height: 100%;
}

* {
    padding: 0;
    margin: 0,
}


.container{
    border: 1px solid rgba(54, 53, 53, 0.343);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo img {
    width: 160px;
    height: 125px;
    margin-right: 10px;
    cursor: pointer;
    margin-left: 5px;
}

.logo div {
    display: flex;
    align-items: center;
}

.logoNome  {
    font-size: 36px;
    font-family: 'Cinzel', serif;
    color: #A5BE00;
    
}

.divbnt {
    margin-right: 20px;
}

.divbnt button {
    width: 182px;
    border-radius: 50px;
    height: 40px;
    background-color: #4E1398;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.divbnt button:hover {
    background-color: #4f1398b4;
}

.itens{
    background-color: #9EEBA3;
    height: 50px;
}

.itens button{
    display: none;
}
.bntRes{
    display: flex;
    justify-content: end;
}


.ulHeader {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9EEBA3;
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    align-items: center;
}



li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
li a{
    font-size: 20px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #9eeba3ab;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #c7f3ca;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-right: 60px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    
}

.dropdown-content a:hover {
    background-color: #9eeba3be;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.teste{
    border: none;
    height: 50px;
    width: 50px;
    background-color: transparent;
}

.icon{
    width: 50px;
    height: 25px;
}

.bntResp{
    display: flex;
    justify-content: end;
}


/* responsividade */

@media screen and (max-width:940px){
    .logo img{
        width: 160px;
        height: 125px;
    }
    .logoNome{
        font-size: 30px;
    }
    .divbnt button{
        width: 172px;
        height: 30px;
    }
    li a{
        font-size: 18px;
    }
}

@media screen and (max-width:940px){
    .logo img{
        width: 140px;
        height: 125px;
    }
    .logoNome{
        font-size: 25px;
    }
    .divbnt button{
        width: 165px;
        height: 25px;
    }
    li a{
        font-size: 16px;
    }
}

@media screen and (max-width:679px) {
    .ulHeader{
        display: none;
    }
    .itens button{
        display: block;
    }
    .logo img{
        width: 100px;
        height: 80px;
    }
    .logoNome{
        font-size: 20px;
        flex-wrap: wrap;
    }
    .divbnt button{
        width: 155px;
        height: 25px;
    }
    li a{
        font-size: 16px;
    }
}
@media screen and (max-width:559px) {
    .logoNome{
        font-size: 18px;
        flex-wrap: wrap;
    }
    .divbnt button{
        width: 135px;
        height: 23px;
        font-size: 12px;
    }
}
@media screen and (max-width:599px) {

    .logo img{
        width: 80px;
        height: 60px;
    }
    .logoNome{
        font-size: 16px;
        flex-wrap: wrap;
    }
    .divbnt button{
        width: 125px;
        height: 25px;
    }
}