.container7{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.tituloDoacao{
    color: black;
    font-size: 35px;
    margin-bottom: 50px;

}
.pdoacao{
    font-size: 23px;
    text-align: center;
}

.imgDoacao{
    width: 60%;
    margin-bottom: 50px;
}

.itensDoacao{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
 
    
}
.divItensDoacao{
    flex: 1 1 300px;
    padding: 20px;
}

.imgsDoacao{
    width: 80px;
    height: 80px;
}

.descricaoDoacao{
    color: black;
    font-size: 20px;
    margin-left: 0;
}

.tituloIcons{
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
}
.divImgP{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

@media screen and (max-width:400px){
    .pdoacao{
        font-size: 18px;
        padding: 5px;
    }
    .tituloIcons{
        font-size: 18px;
    }
    .descricaoDoacao{
        font-size: 18px;
    }
    .imgsDoacao{
        width: 60px;
        height: 60px;
    }
    .tituloDoacao{
        font-size: 28px;
    }
}