.container5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.projetos {
  color: black;
  font-size: 35px;
  display: flex;
}

.divProjetos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projetosRealizados {
  display: flex;
  background-color: #3d5e33;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 30%;
}

.descricaoProjeto {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  flex-direction: column;
  max-width: 518px;
  height: 640px;
  background: #f5fcee;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.descricaoProjeto span {
  color: #2d8334;
}
.obj {
  font-weight: bold;
  margin-bottom: 40px;
  font-size: 23px;
}

.nomeProjeto {
  color: white;
  font-size: 22px;
  margin-left: 20px;
  margin-right: 20px;
}

.listaProjetos {
  display: grid;
  margin-left: 50px;
  margin-right: 50px;
}

.listaProjetos li {
  line-height: 1.5;
  list-style: disc;
  font-size: 18px;
}

.tituloProjeto {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.imagemGotaDagua {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-top: 1px solid #dce2d6;
}

.Img-maos-agua {
  width: 160px;
  margin-top: 20px;
}

@media screen and (max-width: 720px) {
  .projetosRealizados {
    height: auto;
    padding-bottom: 7px;
    width: 45%;
  }
  .descricaoProjeto {
    height: auto;
  }
  .obj {
    padding: 20px;
  }
}

@media screen and (max-width: 520px) {
  .obj {
    font-size: 18px;
  }
  .listaProjetos li {
    font-size: 18px;
  }
  .descricaoProjeto {
    max-width: 80%;
  }
}
